.mpm_productPageTitle {
  padding-left: 35px;
  padding-top: 51px;
  width: 100%;
}

.mpm_search_and_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 28px 0px 35px;
}

.mpm_search_content {
  display: flex;
  padding: 26px 0px 24px 0px;
  gap: 14px;
}

.mpm_view_buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mpm_productPageTitle h2 {
  width: 260px;
  height: 37px;
}
