.mtv_producttable {
  width: 100%;
  height: 67vh;
  padding: 0px 28px 0px 35px;
}

.mtv_producttable_header {
  height: 65vh;
}
/* .tabletrash {
  margin: 20px 20px 20px 20px;
}

.search-bar {
  margin: 10px 0px 10px 10px;
} */
