/* TakeawayOrders.css */

.takeawayoverall {
  display: flex;
  height: 85vh;
}

.takeawayone {
  display: block;
  width: 962px;
  padding-top: 12px;
  padding-left: 20px;
  background-color: #f6f9fc;
}

.takeawaytwo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-right: 10px;
}

.dateandsearchtw {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.date-display {
  width: 127px;
  display: flex;
  height: 42px;
  border: 1px solid #707070;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.new-order-button {
  padding-right: 10px;
}

.new-order-button .MuiButton-root {
  background-color: #1976d2;
  width: 127px;
  height: 42px;
}

.status-buttons {
  padding-top: 33px;
}

.orders-grid {
  padding-top: 20px;
}

.order-details {
  padding: 20px;
  width: 550px;
  height: 80vh;
}
